/* .skinCareExpertise {
  width: 100%;
  height: 110px;
  background-color: #facc02;
}
.careExperience {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
.infosection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-right: 1px solid #c5a54d;
  height: 43px;
  gap: 8px;
}

.infosection:nth-child(4) {
  border-right: none;
}

.info-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", system-ui;
  color: #000000;
  margin: 0;
}

@media (max-width: 850px) {
  .infosection {
    flex: 1 1 calc(50% - 10px);
  }
} */

.skinCareExpertise {
  width: 100%;
  height: 100%;
  background-color: #facc02;
}

.careExperience {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  flex-wrap: wrap;
}

.infosection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-right: 1px solid #c5a54d;
  height: 43px;
  gap: 8px;
}

.infosection:nth-child(4) {
  border-right: none;
}

.info-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", system-ui;
  color: #000000;
  margin: 0;
}

@media (max-width: 850px) {
  .infosection {
    flex: 1 1 calc(50% - 10px);
    margin-bottom: 10px;
  }
  .careExperience {
    height: 220px;
  }
  .infosection {
    border-right: none;
  }
}

@media (max-width: 520px) {
  .infosection {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }
  .careExperience {
    height: 450px;
  }
}
