.top-header {
  background: #6bacc8;
}

.header-content {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-description {
  color: #fff;
  font-weight: 500;
  margin: 0;
  text-align: center;
  flex: 1;
}

.contact {
  display: flex;
  gap: 12px;
  align-items: center;
  /* flex: 0 0 auto; */
  /* font-weight: 500;
  font-size: 16px; */
}
.telephone-link {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 750px) {
  .contact {
    display: none;
  }
}
@media (max-width: 530px) {
  .brand-description {
    font-size: 10px;
  }
}
